<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- <context:component-scan base-package="org.stockRemainder.aspect"></context:component-scan> -->
	
	<bean id="stockCrawler" class="org.stockRemainder.crawler.SinaAiGaogaoCrawlerImpl"></bean>
	
	<bean id="cacheControl" class="org.stockRemainder.cache.RedisCacheControl" scope="prototype"></bean>
	
	<bean id="userService" class="org.stockRemainder.service.UserServiceImpl"></bean>
	
	<bean id="adminService" class="org.stockRemainder.service.AdminServiceImpl"></bean>
	 
	<!-- <bean id="privilegesCheck" class="org.stockRemainder.aspect.PrivilegesCheck"></bean> -->
</beans>