<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- controller的bean扫描要放在springmvc的配置文件，初始化dispatcherServlet时来这获取controller -->
	<context:component-scan base-package="org.stockRemainder.controller"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<mvc:default-servlet-handler />
	
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- mapping在前 -->
			<mvc:mapping path="/api/**"/>
			<bean class="org.stockRemainder.Interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/api/**"/>
			<bean class="org.stockRemainder.Interceptor.TimeoutInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/member/**"/>
			<bean class="org.stockRemainder.Interceptor.AdminInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>