<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page | Enterprise Network</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>企业关系网络管理系统</h1>
    <p>Enterprise Network</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>员工登录</h3>
    <h2><a href="emp/register.html">点我注册</a></h2>
    <hr>
    <div class="am-btn-group">
      <a href="emp-login.html" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> 员工</a>
      <a href="admin-login.html" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> 管理员</a>
      <a href="add-enterprise.html" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> 企业注册</a>
    </div>
    <br>
    <br>

    <form method="post" class="am-form" id="emp_login">
      <label for="email">工号:</label>
      <input type="text" v-model="data.worker_no" id="email" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" v-model="data.password" name="" id="password" value="">
      <br>
      <br />
      <div class="am-cf">
        <input type="button" @click="login()" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
  </div>
</div>
<script src="assets/js/jquery-1.8.3.js"></script>
 <script src="assets/js/jquery.form.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/path.js"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:'#emp_login',
		data:{
			data:{
				worker_no:'',
				password:''
			}
		},
		methods:{
			login:function(){
				$.ajax({
					url:path+'employee/login',
					type:'post',
					data:vm.data,
					success:function(data){
						if(data.status == '200'){
							location.href = 'emp/emp-index.html';
						}else{
							alert(data.message);
						}
					},
					error:function(){
						alert('服务器忙！');
					}
				})
			}
		}
	})
</script>
</body>
</html>
