<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.enterpriseNetwork.dao.enterprise.EnterpriseDao">
	<insert id="insert">
		INSERT INTO enterprise
			(name,
			address,
			description)
		VALUES
			(#{name},
			#{address},
			#{description})
	</insert>
	
	<delete id="delete">
		DELETE FROM enterprise
		WHERE id = #{id}
	</delete>
	
	<update id="update">
		UPDATE enterprise
		SET 
			name = #{name},
			address = #{address},
			description=#{description}
		WHERE id = #{id}
	</update>
	
	<select id="get" resultType="Enterprise">
		SELECT *
		FROM enterprise
		WHERE id = #{id}
	</select>
	
	<select id="getAll" resultType="Enterprise">
		SELECT *
		FROM enterprise
	</select>
	<!-- 
	<select id="getName" resultType="java.lang.String">
		SELECT name
		FROM enterprise
		WHERE id = #{enterpriseId}
	</select>
	 -->
</mapper>